.form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    
}

.formbox{
    margin: 4rem 6rem;
    color: #2a2a2a;
    background-image: url(https://cdn.dribbble.com/users/2161686/screenshots/15263769/dribbble_tropicalbg.jpg);
    background-repeat: no-repeat;
    padding: 25px;
    border-radius: 20px;

}

.form input{
    height: 1rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
    accent-color: rgb(5, 226, 5);
    margin-left: 1rem;
    
}

#input{
    height: 30px;
    border: 2px solid greenyellow;
    background-color: rgb(253, 247, 175);
}

#individual-tab{
    border-radius: 8px;
}
#industry-tab{
    border-radius: 8px;
}